.login-container {
    padding-top: 120px;
    height: 719px;
    background-color: aqua;
  
    .login-form {
      width: 35%;
      margin: 0 auto;
      background-color: rgb(29, 186, 186);
      padding: 70px;
      border-radius: 30px;
  
      .login-content {
        width: 100%;
        margin: 0 auto;
  
        .inputText {
          margin: 5px 0 10px 0;
          width: 100%;
        }
      }
  
      .register-text {
        color: rgb(95, 3, 64);
        cursor: pointer;
        text-decoration: underline;
      }

      .logo-contact {
        text-align: center;
      }
    }
  }